./intellij/.config/JetBrains/IdeaIC2025.1/ssl/
./intellij/.config/JetBrains/IdeaIC2025.1/tasks/
./intellij/.config/JetBrains/IdeaIC2025.1/bundled_plugins.txt
./intellij/.config/JetBrains/IdeaIC2025.1/app-internal-state.db
./intellij/.config/JetBrains/IdeaIC2025.1/early-access-registry.txt
./intellij/.config/JetBrains/IdeaIC2025.1/updatedBrokenPlugins.db
./intellij/.config/JetBrains/IdeaIC2025.1/options/
./intellij/.config/JetBrains/IdeaIC2025.1/migration/
./intellij/.config/JetBrains/IdeaIC2025.1/workspace/
./intellij/.config/JetBrains/IdeaIC2025.1/event-log-metadata/

